apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps
  namespace: argo-cd
spec:
  project: default

  source:
    repoURL: 'https://github.com/simonkolz/EKS-Cluster.git'
    targetRevision: HEAD
    path: apps

  destination:
    namespace: apps
    server: 'https://kubernetes.default.svc'

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true